/* === ALL PAGES === */
body {
    margin: 0;
    padding: 0;   
}

#logo {
    height: 125px;
    margin-left: 50px;
    padding-bottom: 20px;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
}

#bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/home-bg.jpg');
    opacity: 0.4;
    background-size: 100% 100%;
    background-position: center center;
    z-index: -1;
}

header {
    background: #40622e;
    background-color: #40622e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

nav {
    text-align: center;
    padding-right: 20px;
    font-family: amandine, sans-serif;
    font-size: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a.active {
    background-color: #9fbb92 ;
    padding: 10px;
    border-radius: 10px;
}

#ui-elements {
    text-align: right;
    padding-right: 40px;
}

#ui-elements a{
    color: white;
    font-size: 1.25rem;
    padding-left: 20px;
}

#headline {
    color: white;
    background-color: rgb(46, 49, 102, 0.8);
    width: 1400px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
}

/* ===FOOTER=== */
footer {
    background: #40622e;
    background-color: #40622e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 200px;
    flex-shrink: 0;
    margin-top: 50px;
}

#contact {
    text-align: left;
    padding-left: 20px;
    color: white;
    font-family: amandine, sans-serif;
    font-size: 1rem;    
}

#copyright {
    text-align: right;
    padding-right: 20px;
    color: white;
    font-family: amandine, sans-serif;
    font-size: 1rem;
}

#social-media {
    display: flex;
    justify-content: center;
    gap: 25px;
    color: white;
    font-size: 1.25rem;
}
/* === HOME PAGE === */
main {
    position: relative;
    z-index: 1;   
}

.rooms {
    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-left: 50px;
}


#cards {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: 1fr;
    gap: 1rem; 
    padding-right: 200px;
}

.card {
    max-width: 75%;
}

.room-link {
    text-decoration: none;
    color: white;
    font-family: "amandine", sans-serif;
    font-size: 18pt;
    font-style: italic;
}

#dining #living #slumber{
    position: relative;
}

#dining span, #living span, #slumber span {
    position: relative;
    bottom: 30px;
    left: 150px;
    color: white;
    border-radius: 10px;
}

#slumber span {
    left: 125px;
}

#dining a, #living a, #slumber a {
    position: relative;
    bottom: 25px;
    text-decoration: none;
}

#dining p, #living p, #slumber p {
    width: 250px;
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-size: 12pt;
    color: #2e3166;
    letter-spacing: 2pt;
    margin-left: 5px;
    margin-bottom: 10px;
    line-height: 200%;
}

#dining img, #living img, #slumber img {
   border-radius: 10px;
}

.card img{
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 4px rgba(102,63,46,.2);
}

#choose {
    position: absolute;
    right: 0;
    background-color: rgba(102,63,46,.5);
    color: white;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    max-width: 200px;
    height: 400px;
    font-family: amandine, sans-serif;
}

.action {
    font-size: 14pt;
    font-weight: bold;
}

#copy {
    font-size: 12pt;
    font-weight: lighter;
    line-height: 200%;
    margin-left: 20px;
    margin-right: 20px;
}

/* === LIVING ROOM PAGE === */

.living-items div a img{
    width: 240px;
    height: auto;
} 

#chairs, #sofas, #tables, #accents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-bottom: 50px;
}

.chair-card, .sofa-card, .table-card, .accent-card {
    text-align: center;
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
}

.view-all {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    font-family: amandine, sans-serif;
}

.view-all a{
    text-decoration: none;
    border: 2px solid #2e3166;
    background-color: #2e3166;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
